* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
}

div {
  background-color: red;
  width: clamp(350px, 70dvw, 45dvw);
  height: 60dvh;
  border-radius: 30px;
  display: flex;
  
}
