* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
footer {
  background-color: lightgray;
  width: 100dvw;
  height: 10dvh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
  }
}
main {
  background-color: antiquewhite;
  width: 100dvw;
  min-height: 80dvh;
}
// body {
//   display: grid;
//   place-content: center;
//   width: 100dvw;
//   height: 100dvh;
// }
// h1 {
//   font-size: 3rem;
//   font-family: serif;
//   text-transform: uppercase;
//   letter-spacing: 0.5em;
// }
